@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }

.header .bgpropio {
  font-family: "Poppins", sans-serif;
  background-color: black; }
  .header .bgpropio .nav-link {
    color: white;
    padding: 5%;
    font-size: 20px;
    margin-inline: 15px; }
    .header .bgpropio .nav-link .navbar-toggler {
      color: white;
      border-color: white; }

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%; }
  .main .primerParrafo {
    font-style: italic;
    font-size: 50px;
    font-family: "Poppins" sans-serif;
    align-items: center;
    text-align: center;
    color: black; }

.carousel-item {
  height: auto; }
  .carousel-item .d-blockw-100 {
    object-fit: cover; }

.estilomarcas {
  color: black;
  font-size: 80px;
  font-family: "Poppins", sans-serif; }

.containergaleria {
  display: grid;
  width: 100%;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  column-gap: 5rem;
  row-gap: 5rem;
  gap: 10px;
  background-color: white; }
  .containergaleria .galeria_item .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    position: relative;
    margin: 50px;
    padding: 50px;
    align-content: center; }
    .containergaleria .galeria_item .hvr-grow .hvr-grow:hover,
    .containergaleria .galeria_item .hvr-grow .hvr-grow:focus,
    .containergaleria .galeria_item .hvr-grow .hvr-grow:active {
      transform: scale(1.1); }
      .containergaleria .galeria_item .hvr-grow .hvr-grow:hover .img,
      .containergaleria .galeria_item .hvr-grow .hvr-grow:focus .img,
      .containergaleria .galeria_item .hvr-grow .hvr-grow:active .img {
        width: 100%; }
        .containergaleria .galeria_item .hvr-grow .hvr-grow:hover .img .galeria_img,
        .containergaleria .galeria_item .hvr-grow .hvr-grow:focus .img .galeria_img,
        .containergaleria .galeria_item .hvr-grow .hvr-grow:active .img .galeria_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: flex;
          justify-content: center;
          align-items: center; }
          .containergaleria .galeria_item .hvr-grow .hvr-grow:hover .img .galeria_img .galeria_titulo,
          .containergaleria .galeria_item .hvr-grow .hvr-grow:focus .img .galeria_img .galeria_titulo,
          .containergaleria .galeria_item .hvr-grow .hvr-grow:active .img .galeria_img .galeria_titulo {
            position: absolute;
            bottom: 0;
            font-size: 80px;
            background: linear-gradient(rgba(255, 255, 255, 0), black);
            width: 100%;
            margin: 0;
            padding: 10px; }

.fuente-footer {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: white; }

.m-0 {
  margin: 0%; }
  .m-0 .col {
    display: flex;
    justify-content: center;
    align-items: center; }
    .m-0 .col .card, .m-0 .col .card .card-img-top {
      width: 60%; }
      .m-0 .col .card .card-img-top {
        object-fit: cover; }

.text-center {
  width: 400px;
  display: flex;
  justify-content: center; }

@media (max-width: 520px) {
  .containergaleria {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    padding: 10%;
    margin: 0%; }
  .header {
    font-size: 12px; }
  .primerParrafo {
    font-size: 80px; }
  .galeria_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; }
    .galeria_item .galeria_titulo {
      font-size: 100%; } }

@media (min-width: 728px) {
  .containergaleria {
    grid-template-columns: repeat(3, 1fr);
    width: 80%; } }

@media (min-width: 1024px) {
  .containergaleria {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: auto; } }
