
@import "reset.scss";
@import "tipografia.scss";
@import "variables.scss";



@mixin flex-column{
	display:flex;
    flex-direction: column;


}
.body{
  @include flex-column;
 min-height: 100vh;
 width: 100%;
}

.header {
    
         .bgpropio{
             font-family: $tipografia;
             background-color:$color-principal;
                .nav-link {
                    color: $color-tipografia1;
                    padding: 5%;
                   font-size: 20px;
                   margin-inline: 15px;
               
                   .navbar-toggler {
                     color: $color-tipografia1;
                     border-color: $color-tipografia1;
                
                    }
               
               
               
               
                }
               
                   
           
           
           
            }
               
  
  
}



$estilos: (
    color:black,
    centro:center,
    fuente:'Poppins' sans-serif,
    tFuente:50px,
    estilofuente:italic

);
.main {  
    @include flex-column;
  background-color: white;
  width: 100%;
  

            .primerParrafo{
                font-style: map-get($estilos,estilofuente);
                font-size: map-get($estilos, tFuente);  
                font-family: map-get($estilos, fuente);
                align-items: center;
                text-align: map-get($estilos, centro);
                color: map-get($estilos, color)
                
            }




}




.carousel-item{
  height: auto;
   
   .d-blockw-100{
     object-fit: cover 

    }




}


.estilomarcas{
    color: black;
    font-size: 80px;
    font-family: $tipografia;
}



.containergaleria{
    display:grid;
    width: 100%;
    place-content: center;
  grid-template-columns: repeat(4 , 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  column-gap: 5rem;
  row-gap: 5rem;
  gap :10px;
  background-color: white;

        .galeria_item .hvr-grow {
            display: inline-block;
           vertical-align: middle;
         transform: translateZ(0);
         box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
         -moz-osx-font-smoothing: grayscale;
          transition-duration: 0.3s;
           transition-property: transform;
            position:relative;
            margin: 50px;
            padding: 50px;
            align-content: center;
            

            .hvr-grow:hover,
            .hvr-grow:focus,
            .hvr-grow:active {
                transform: scale(1.1);
                
                .img {
                 width: 100%;
                 
                    .galeria_img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     display:flex;
                     justify-content: center;
                     align-items: center;
                     
                     
                    
                      .galeria_titulo{
                         position:absolute;
                         bottom :0;
                         font-size: 80px;
                         background: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0));
                         width: 100%;
                          margin:0;
                         padding: 10px;
                        }
                   
                   
                   
                    }
                
                
                
                
                }
            
            }   
         
         
        }      


}





.fuente-footer{
 font-size: 40px;
 font-family: $tipografia;
 color: white;


}



.m-0{
 margin:0%;



    .col{
      display:flex;
     justify-content: center;
     align-items: center;
 
 
        .card{
          width: 60%;
    
            .card-img-top{
               @extend.card;
               object-fit: cover;
        
         
          
        
            }
    
    
    
    
    
        }
  
    }

        



}

.text-center{
    width: 400px;
    display: flex;
    justify-content: center;
 
}



@media (max-width:520px){
  .containergaleria{
     grid-template-columns: repeat(1 , 1fr);  
     width: 50%;
     padding: 10%;
     margin: 0%;
   
    }
  .header{
  font-size: 12px;
  
  }
  .primerParrafo{
  font-size: 80px;
  }
   .galeria_item{
     display:flex;
     justify-content: center;
     align-items: center;
     margin-top: 5%;
     
        .galeria_titulo{
         font-size: 100%;
        
        }

    }
 

}

@media (min-width:728px){

  .containergaleria{
     grid-template-columns: repeat(3 , 1fr); 
     width: 80%;
       
    }




    
   
}

@media (min-width:1024px){

  .containergaleria{
     grid-template-columns: repeat(4 , 1fr);  
     width:100%;
     margin: auto;
    }

} 

  
